<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- springContextSubject 配置示例 开始 -->
	<bean id="springContextSubject" class="org.cloud.spring.SpringContextSubject" factory-method="getInstance"></bean>	
	<!-- springContextSubject 配置示例 结束 -->
	
</beans>
