<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cloud.manage.dao.RoleDao">
	
	<insert id="addRolePriv">
		insert into t_role_priv
		  (role_id, priv_id)
		values
		<foreach collection="privIds" item="privId" index="index" separator="," > 
	      (#{roleId}, #{privId})
	    </foreach> 
	</insert>
	
	<delete id="removeRolePrivByRoleId" parameterType="long">
		delete from t_role_priv where role_id = #{roleId}
	</delete>
	
	
	<select id="findByUserId" parameterType="long" resultType="org.cloud.manage.model.Role">
		select b.* from t_user_role a, t_role b where a.role_id = b.id and a.user_id = #{userId}
	</select>
</mapper>
